<div>
 <div id="bottomPanel" class="fuDojo" data-dojo-attach-point="bottomPanel">
   <div id="timeInfo" data-dojo-attach-point="timeInfo">
      <!-- <div id="imgInfo"><span id="daterange" data-dojo-attach-point="daterange">image info</span></div>-->
      <div id="imgInfo" data-dojo-attach-point="imgInfo"></div>

       <!--<div>Historic Imagery Selector <span id="daterange" data-dojo-attach-point="daterange">2013</span></div>-->
       <div id="timeSliderDiv" data-dojo-attach-point="timeSliderDiv"></div>
   </div>
</div>
</div>
