<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="baseURL" value="http://localhost/ms/" />
		<add key="EnableLogging" value="false" />
		<add key="SWLogFile" value="C:\Inetpub\wwwroot\data\GMSWebServicet.log" />
		
 
 
        <add key="MapFileLocation" value="C:\inetpub\wwwroot\ms6\data\pa\map.map" />


 

        <add key="OutputLocation" value="d:\wwwroot\webgis3\output\" />
        <add key="ovmapImageTPth" value="D:\wwwroot\webgis3\ov18_mxd_a.png" />
        <add key="ovNorthArrImageTPth" value="D:\wwwroot\webgis3\nrth.png"/>
        <add key="baseOutputURL" value="http://gisvm109/webgis3/output/" />



        <!--<add key="baseOutputURL" value="http://gisvm107:82/ms6/output/"/>-->

    

        <add key="CGIS_CONNSTR" value="Server=xxxxxx;Database=xxxxxx;User Id=xxxxx;Password=xxxxx;" />		
		
		
		
		
		
		
	</appSettings>
	<connectionStrings />
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<!--<sessionState mode="StateServer" cookieless="AutoDetect" />-->
		<!-- <identity impersonate="true" userName="BB" password=""/>-->
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
				<add name="HttpSoap" />
				<add name="Documentation" />
				<add name="HttpPostLocalhost" />
			</protocols>
		</webServices>
	</system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.ashx" />
            </files>
        </defaultDocument>

        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        
        
    </system.webServer>
</configuration>
