.gis_NavToolsDijit {
	height: 15px;
	padding: 0px 0px 0px 90px !important;
}


 

 .dbootstrap .dijitButton .dijitButtonNode, .dbootstrap .dijitDropDownButton .dijitButtonNode, .dbootstrap .dijitComboButton .dijitButtonNode, .dbootstrap .dijitToggleButton .dijitButtonNode, .dbootstrap .dijitComboBox .dijitButtonNode, .dbootstrap .dijitSpinnerButtonContainer.dijitButtonNode, .dbootstrap .dijitSelect .dijitButtonNode {
    display: block;
    padding: 3px ;
 
    margin : 0px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: -moz-linear-gradient(center top , rgb(255, 255, 255) 0%, rgb(230, 230, 230) 100%);
    color: rgb(51, 51, 51);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    background-color: rgb(230, 230, 230);
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(168, 168, 168);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.dbootstrap .dijitButtonNode * {
    vertical-align: middle;
}

#ntWidgSel {
   border:1px solid green;
   background-color:blue;
   padding: 0px !important;
   margin: 0px !important;
   /*width:35px;
   height:25px;*/
}

.gis_NavToolsDijit .selTool {
   border:1px solid red;
   background-color:yellow;
   padding: 0px !important;
   margin: 0px !important;
   font-size:8px;
   /*height:20px;*/
   width:50px;

}
#selWTool {
 
   font-size:11px !important;
   width: 120px;
   height:23px;
   background-color: rgba(220,220,220,0.7);
   border-radius: 5px ;
   margin: 0px 0px 0px 20px;
}
.dj_ie6 .dijitSelect .dijitSelectLabel, .dj_ie7 .dijitSelect .dijitSelectLabel, .dj_ie8 .dijitSelect .dijitSelectLabel, .dj_iequirks .dijitSelect .dijitSelectLabel, .dijitSelect td, .dj_ie6 .dijitSelect input, .dj_iequirks .dijitSelect input, .dj_ie6 .dijitSelect .dijitValidationContainer, .dj_ie6 .dijitTextBox input, .dj_ie6 input.dijitTextBox, .dj_iequirks .dijitTextBox input.dijitValidationInner, .dj_iequirks .dijitTextBox input.dijitArrowButtonInner, .dj_iequirks .dijitTextBox input.dijitSpinnerButtonInner, .dj_iequirks .dijitTextBox input.dijitInputInner, .dj_iequirks input.dijitTextBox {
    line-height: 0%;
}
.dbootstrap .dijitComboButton .dijitArrowButton, .dbootstrap .dijitComboBox .dijitButtonNode.dijitArrowButton, .dbootstrap .dijitSpinnerButtonContainer.dijitButtonNode, .dbootstrap .dijitSelect .dijitButtonNode.dijitArrowButton {
    border-left-width: 0px;
    padding: 10px 0px 10px  0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 4px 4px 0px;
}

 

.gis_NavToolsDijit .dijitValidationTextBoxError input.dijitValidationInner, .dijitSelect input, .dijitTextBox input.dijitArrowButtonInner {
    text-indent: -2em !important;
    direction: ltr !important;
    text-align: left !important;
    height: 10px !important;
}

.gis_NavToolsDijit .zoominIcon {
    background-image: url(../images/nav_zoomin.png);
    width: 16px;
    height: 16px;  
    padding: 0px !important;
}
 
.gis_NavToolsDijit .zoominIcon:hover {
    background-image: url(../images/selected/nav_zoomin.png);
    width: 16px;
    height: 16px;  
    padding: 0px !important;
 
}

 /*
.gis_NavToolsDijit .zoominIcon:hover {
    background-image: url(../images/nav_zoomin.png);
    width: 13px;
    height: 13px;  
    padding: 0px !important;
    margin: 0px !important;
}
 
.gis_NavToolsDijit .dijitToggleButton:hover , .dijitButton:hover , .dijitDropDownButton:hover , .dijitComboButton:hover  {
   border:0.5px solid rgba(112, 162,  71, 1.0 );
    
    border:1px solid rgba(112, 162,  71, 1.0 ); 
   
   margin: -0.2em;
   vertical-align: middle;
}
*/ 

 .gis_NavToolsDijit .zoomoutIcon {
	 background-image: url(../images/nav_zoomout.png);
	width: 16px;
	height: 16px; 
}
 .gis_NavToolsDijit .zoomoutIcon:hover {
	 background-image: url(../images/selected/nav_zoomout.png);
	width: 16px;
	height: 16px; 
}
.gis_NavToolsDijit .zoomfullextIcon {
	 background-image: url(../images/nav_fullextent.png);
	width: 16px;
	height: 16px; 
}
.gis_NavToolsDijit .zoomfullextIcon:hover {
	 background-image: url(../images/selected/nav_fullextent.png);
	width: 16px;
	height: 16px; 
}
.gis_NavToolsDijit .zoomprevIcon {
	 background-image: url(../images/nav_previous.png);
	width: 16px;
	height: 16px; 
}
.gis_NavToolsDijit .zoomprevIcon:hover {
	 background-image: url(../images/selected/nav_previous.png);
	width: 16px;
	height: 16px; 
}
 .gis_NavToolsDijit .zoomnextIcon {
	 background-image: url(../images/nav_next.png);
	width: 16px;
	height: 16px; 
}
 .gis_NavToolsDijit .zoomnextIcon:hover {
	 background-image: url(../images/selected/nav_next.png);
	width: 16px;
	height: 16px; 
}
.gis_NavToolsDijit .panIcon {
	 background-image: url(../images/nav_pan.png);
	width: 16px;
	height: 16px; 
}
.gis_NavToolsDijit .panIcon:hover {
	 background-image: url(../images/selected/nav_pan.png);
	width: 16px;
	height: 16px; 
}



.gis_NavToolsDijit .identifyIcon {
	 background-image: url(../images/identify.png);
	width: 16px;
	height: 16px; 
}

.gis_NavToolsDijit .identifyIcon_active {
	 background-image: url(../images/selected_on/identify.png);
	width: 16px;
	height: 16px; 
}

.gis_NavToolsDijit .identifyIcon:hover {
	 background-image: url(../images/selected/identify.png);
	width: 16px;
	height: 16px; 
}
 
 
 
 
 
.gis_NavToolsDijit .selIcon {
	 background-image: url(../images/LocationGetPoint16.png);
	width: 16px;
	height: 16px; 
}
.gis_NavToolsDijit .selboxIcon {
	 background-image: url(../images/LocationGetBox.png);
	width: 16px;
	height: 16px; 
}
.gis_NavToolsDijit .selIcon:hover {
	 background-image: url(../images/selected/LocationGetPoint16.png);
	width: 16px;
	height: 16px; 
}
.gis_NavToolsDijit .selboxIcon:hover {
	 background-image: url(../images/selected/LocationGetBox.png);
	width: 16px;
	height: 16px; 
}


.gis_NavToolsDijit .deactivateIcon {
	 background-image: url(../images/nav_decline.png);
	width: 16px;
	height: 16px; 
}

.gis_NavToolsDijit .deactivateIcon:hover {
	 background-image: url(../images/selected/nav_decline.png);
	width: 16px;
	height: 16px; 
}


.gis_NavToolsDijit .formContainer {
    /*border: 1px solid #bbb;*/
    
    /*position: absolute;*/
    top: 11px;
    /*left: 85%;*/
     width: 451px;
    /*width: auto;*/
    /*float: right;*/
   /* float: left;*/
     padding: 0px;
     
    margin-left:2px auto 2px auto;
 
    /*z-index:999;*/
   
    background:rgb(1, 109, 141);
    border:  1px solid rgb(1,109,138); 
    border-radius:  4px;
     /*
     display: block;
     left: auto;
	right: 0;
    	outline: 0;
    	display: block;
    	border: 0;
    	border-collapse: collapse;
    	vertical-align: middle;
    	font-size: 9px;
    	height: 16px;
    	padding: 0px 0;
    	float: right;
    	color: #444;
    	background: none;
	margin: 0 0 0 0;
	*/
}
