.gis_PINSearchDijit {
    width: 100%;
}
.gis_PINSearchDijit .querySelect, .gis_PINSearchDijit .searchText {
	width:100%;
	margin-bottom: 10px;
}

.gis_PINSearchDijit .containsCheck {
	margin-bottom: 10px;
	margin-left: 10px;
}

.gis_PINSearchDijit .clearButton {
	float: right;
}

.gis_PINSearchDijit .searchIcon {
    background-image: url(../images/search.png);
    width: 16px;
    height: 16px;
}

.gis_PINSearchDijit .clearIcon {
    background-image: url(../images/clear.png);
    width: 16px;
    height: 16px;
}

.gis_PINSearchDijit label {
	font-weight:bold;
	margin-left: 5px;
}

.gis_PINSearchDijit .resultsContainer {
	font-weight: bold;
	margin: 10px;
	display: none;
}

.gis_PINSearchDijit .dgrid {
	height: 240px !important;
	width:100%;
	display: none;
}

.gis_PINSearchDijit .dgrid .dgrid-scroller {
	margin-top: 35px !important;
}

.gis_PINSearchDijit .dgrid .dgrid-header th {
	font-weight: bold;
}

.gis_PINSearchDijit .dgrid .dgrid-cell {
	font-size: 11px;
	padding: 8px !important;
	cursor: pointer;
}

.gis_PINSearchDijit .dgrid .field-value {
	width: 70%;
}

.gis_PINSearchDijit .dgrid .field-foundFieldName {
	display: none;
}