


<div class="gis_PRCDijit" >
	<div  data-dojo-type="dijit/form/Form" data-dojo-attach-point="pcForm" class="formContainer"  >

	   <table data-dojo-attach-point="pcTable" data-dojo-attach-event="onClick:tbClick"  class="CSSTableGenerator"  >
			  <tr >
				<td><img id="pc_zoom"  alt="zoom to parcel and view moredetails"  title="zoom to parcel"  src="img/zoom_in_1.gif" /></td>
				<td><img id="pc_fulldet"   alt="full parcel details"  title="Open new window with full parcel details" src="img/attributes_1.gif" /></td>
				<td><img id="pc_mindet"  alt="minimal parcel details" title="View more parcel details"  src="img/attributes_2.gif" /> </td>
				<td><img id="pc_save" data-dojo-attach-point="pc_save" alt="Add Parcel To Saved Results List" title="Add Parcel To Saved Results List"  src="img/SaveSearch1.gif" /></td>
				<td><img id="pc_print"  alt="Print Parcel Property Card" title="Print Parcel Property Card" src="img/Print_1.gif" /></td>
			  </tr>

			  <tr>
				<td colspan="5" class="jumplistheader">PIN:</td>
			  </tr>
			  <tr>
				<td data-dojo-attach-point="pcPIN" colspan="5" ></td>
			  </tr>
			  <tr>
				<td colspan="5" class="jumplistheader">Owner:</td>
			  </tr>
			  <tr>
				<td  colspan="5" data-dojo-attach-point="pcOwner"></td>
			  </tr>
			  <tr>
				<td colspan="5" class="jumplistheader">Address:</td>
			  </tr>
			  <tr>
				<td  colspan="5"  data-dojo-attach-point="pcAddr"></td>
			  </tr>
			  <tr>
				<td colspan="5" class="jumplistheader" >Homestead:</td>
			  </tr>
			  <tr>
				<td colspan="5" data-dojo-attach-point="pcHMSTD"></td>
			  </tr>
		</table>
	</div>

</div>