<div class="gis_PanPuckDijit" >
    <div class="formContainer">


        <table id="navt" class="nav_compass" data-dojo-attach-event="onClick:pan">
	        <tr>
	            <td id="navt_nw"></td>
	            <td id="navt_n"></td>
	            <td id="navt_ne"></td>
	        </tr>
	        <tr>
	            <td id="navt_w"></td>
	            <td id="navt_h"></td>
	            <td id="navt_e"></td>
	        </tr>
	        <tr>
	            <td id="navt_sw"></td>
	            <td id="navt_s"></td>
	            <td id="navt_se"></td>
	        </tr>
      </table>


    </div>
 </div>
