<div id="propertyDijitC" class="propertyDijit" style="overflow:hidden !important"  >



    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="propctrNode" class="propertyContainer" style="overflow:hidden !important;padding:0px !important">

        <div id="propertyNode" data-dojo-attach-point="propertyNode" class="propertyNode" style="overflow:hidden !important">

            <div id="pSearchTabs" data-dojo-attach-point="pSearchTabs" data-dojo-type="dijit/layout/TabContainer" class="propertyTabContainer"  >

                <div id="pSearchTab" data-dojo-attach-point="pSearchTab" data-dojo-type="dijit/layout/ContentPane" title="Search">
                    <div class="ptabContBG">
                    </div>

                    <div class="ptabContent ptabContMain">
                        <div class="ptabContent ptabContMain">

                            <div id="pSearchForm" style="position:absolute;top:1%;left:1%">
                                <!--put content here -->
                                <div id="pane1" data-dojo-attach-point="pane1" data-dojo-type="dijit/layout/ContentPane">

                                    <div data-dojo-type="dijit/layout/ContentPane" title="Pane" doLayout="false" style="width:320px;height:500px">
                                        <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="propertyFormDijit"  >

                                            <div style="margin:0px 0px 0px 45px;padding: 0px; font-size: 11px !important; z-index: 900; width: 220px; height: 18px;">

                                               <div style="margin:0px 8px 0px 0px;float:left; padding:0px;margin;0px;font-weight:bold">Search Type:</div>
                                                <div style="padding: 0px; float: right; padding:0px;margin;0px;">
                                                   <select id="selSearchType" data-dojo-attach-point="selSearchType" data-dojo-attach-event="onChange:changeSearchForm" style="width: 120px; padding:0px;margin;0px">
                                                        <option value="property" selected="true">Property</option>
                                                        <option value="salesdata">Sales Data</option>
                                                        <option value="saleslist">Sales List</option>
                                                        <option value="sub">Subdivision</option>
                                                        <option value="business">Business</option>
                                                        <option value="map">Map</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div style="margin: 38px 5px 2px 7px;">

                                                <div id="pPropSearchForm" class="pContResVis" data-dojo-attach-point="pPropSearchForm" data-dojo-type="dijit/layout/ContentPane" >
                                                    <p style="margin:0px;font-weight:bold">Parcel Number:</p>
                                                    <input id="tbPIN" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="searchPIN"   style="width: 219px;"></input>
                                                    <br>
                                                    <br>

                                                    <p style="margin:0px;font-weight:bold">Owner:</p>
                                                    <input id="tbOwner" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="searchOwner"   style="width: 286px;"></input>
                                                    <br>
                                                    <br>
                                                    <br>

                                                    <p style="margin:0px;font-weight:bold">Address or Street Name:</p>

                                                    <input id="tbAddr" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="searchAddr"  style="width: 219px;"></input>
                                                    <br>
                                                    <br>
                                                </div>
                                            </div>
                                                 <div id="pBusForm" class="pContRes" data-dojo-attach-point="pBusForm" data-dojo-type="dijit/layout/ContentPane" style="display:none;">
                                                    <p>Business:</p>
                                                    <input id="tbBus" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="searchBus" data-dojo-props="name:'searchBus',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'" style="width: 219px;"></input>
                                                    <br>
                                                </div>

                                                  <div id="pSubForm" class="pContRes" data-dojo-attach-point="pBusForm" data-dojo-type="dijit/layout/ContentPane" style="display:none;">
                                                    <p>Subdivision:</p>
                                                    <input id="tbSub" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="searchSub" data-dojo-props="name:'searchSub',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'" style="width: 219px;"></input>
                                                    <br>
                                                </div>

                                                <div id="pSalesListFrm" class="pContRes" data-dojo-attach-point="pSalesListFrm" data-dojo-type="dijit/layout/ContentPane" style="display:none;">
                                                    <p>Sales List:</p>

													 <div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">

														 <div style="float:left; padding:0px;margin;0px;">Month:
														 </div>
														 <div style="padding: 0px; float: right; padding:0px;margin;0px;">
															 <select id="selSaleListMonth" style="font-size:11pt; width: 120px; padding:0px;margin;0px">
																<option value="1" selected="true">January</option>
																<option value="2">February</option>
																<option value="3">March</option>
																<option value="4">April</option>
																<option value="5">May</option>
																<option value="6">June</option>
																<option value="7">July</option>
																<option value="8">August</option>
																<option value="9">September</option>
																<option value="10">October</option>
																<option value="11">November</option>
																<option value="12">December</option>
															 </select>
														 </div>
                                                     </div>
                                                     <br>
 													 <div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">
														 <div style="float:left; padding:0px;margin;0px;">Year:
														 </div>
														 <div style="padding: 0px; float: right; padding:0px;margin;0px;">
															 <select id="selSaleListYear" style="font-size:11pt; width: 120px; padding:0px;margin;0px">
															    <option value="2012">2012</option>
															    <option value="2013">2013</option>
															    <option value="2014" selected="true">2014</option>
															    <option value="2015">2015</option>
															 </select>
														 </div>
                                                     </div>
                                                    <br>
                                                </div>


                                                <div id="pSalesDataFrm" class="pContRes" data-dojo-attach-point="pSalesListFrm" data-dojo-type="dijit/layout/ContentPane" style="display:none;">


                                                    <p>Date Range:</p>
                                                    <div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">

													    <!--
													    <input id="tbSlDateFrom" type="text" auFromcomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="tbSlDateFrom" data-dojo-props="name:'searchSlDateFrom',trim:true,required:true,value:'',placeholder:'Enter the text you want From search for.',class:'searchText'" style="width: 99px;float:left"></input>


														<input id="tbSlDateTo" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="tbSlDateTo" data-dojo-props="name:'searchSlDateTo',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'" style="width: 99px;float:right"></input>
													    -->
													    <input id="tbSlDateFrom" type="text" data-dojo-type="dijit/form/DateTextBox"  data-dojo-attach-point="tbSlDateFrom"  style="width: 99px;float:left"></input>

														<input id="tbSlDateTo" type="text" data-dojo-type="dijit/form/DateTextBox"  data-dojo-attach-point="tbSlDateTo"   style="width: 99px;float:right"></input>
														<br>
													</div>
													<br>

                                                    <p>Price Range:</p>
                                                    <div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">
														<input id="tbSlPriceFrom" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="tbSlPriceFrom" data-dojo-props="name:'searchSlDateFrom',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'" style="width: 99px;float:left"></input>

														 <input id="tbSlPriceTo" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="tbSlPriceTo" data-dojo-props="name:'searchSlDateFrom',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'" style="width: 99px;float:right"></input>
														<br>
													</div>
													<br>

                                                    <p>Square Footage Range:</p>
                                                    <div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">
														<input id="tbSlSGFTFrom" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="tbSlSGFTFrom" data-dojo-props="name:'searchSlDateFrom',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'" style="width: 99px;float:left"></input>

														 <input id="tbSlSGFTTo" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="tbSlSGFTTo" data-dojo-props="name:'searchSlDateFrom',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'" style="width: 99px;float:right"></input>
														<br>
													</div>
                                                     <br>
                                                    <p>Acreage Range:</p>
                                                    <div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">
														<input id="tbSlAcreFrom" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="tbSlAcreFrom" data-dojo-props="name:'searchSlDateFrom',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'" style="width: 99px;float:left"></input>

														 <input id="tbSlAcreTo" type="text" autocomplete="on" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="tbSlAcreTo" data-dojo-props="name:'searchSlDateFrom',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'" style="width: 99px;float:right"></input>

													</div>
                                                    <br><br><br>
													<div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">

													   <div style="float:left; padding:0px;margin;0px;">Sale Qualification:
													   </div>
													   <div style="padding: 0px; float: right; padding:0px;margin;0px;">
														 <select id="selSaleDataQual" style="font-size:11pt; width: 120px; padding:0px;margin;0px">
															<option value="" selected="true">All Sales</option>
															<option value="Q">Qualified</option>
														 </select>
													   </div>
													</div>
													<br>
													<div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">
													   <div style="float:left; padding:0px;margin;0px;">Vacant or Improved:
													   </div>
													   <div style="padding: 0px; float: right; padding:0px;margin;0px;">
														 <select id="selSaleDataVac" style="font-size:11pt; width: 120px; padding:0px;margin;0px">
															<option value="" selected="true">All Sales</option>
															<option value="V">Vacant</option>
															<option value="I">Improved</option>
														 </select>
													   </div>
													</div>
													<br>
													<!--
													<div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">
													   <div style="float:left; padding:0px;margin;0px;">Property Type:
													   </div>
													   <div style="padding: 0px; float: right; padding:0px;margin;0px;">
														 <select id="selSaleDataType" style="font-size:11pt; width: 120px; padding:0px;margin;0px">
															<option value="" selected="true">All Sales</option>

														 </select>
													   </div>
													</div>
													<br>
													-->

                                                </div>





                                                <div id="pMapFrm" class="pContRes" data-dojo-attach-point="pMapFrm" data-dojo-type="dijit/layout/ContentPane" style="display:none;font-size:12px">
                                                    <p>Use these map search tools to select parcels on the map</p>


                                                    <!--
                                                    <input type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:modePoint"  label="Select By Point" iconClass="dijitNoIcon" ></input>
                                                      <br>
                                                      <input type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:modePolyline"  label="Select By Line" iconClass="dijitNoIcon" ></input>
                                                      <br>

                                                      <input type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:modePolygon"  label="Select By Polygon" iconClass="dijitNoIcon" ></input>
                                                      <br>

                                                      <input type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:modeFreehandLine"  label="Select By Freehand Line" iconClass="dijitNoIcon" ></input>
                                                      <br>

                                                      <input type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:modeFreehandPolygon"  label="Select By Freehand Polygon" iconClass="dijitNoIcon" ></input>
                                                      <br>

                                                      <input type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:modeBox"  label="Select By Box" iconClass="dijitNoIcon" ></input>
                                                      -->
                                                      <br>

													<div style="padding:5px;">
														<ul class="list-unstyled outerList">

															<li>
																<ul class="list-inline list-unstyled">

																	<li>
																		<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'adw-icon-point',showLabel:false"
																				data-dojo-attach-event="onClick:modePoint"
																				class="drawButton"
																				title="point">

																		</button>
																	</li>

																	<li>
																		<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'adw-icon-polyline',showLabel:false"
																				data-dojo-attach-event="onClick:modePolyline"
																				class="drawButton"
																				title="Polyline">
																		</button>
																	</li>

																	<li>
																		<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'adw-icon-freehand-polyline',showLabel:false"
																				data-dojo-attach-event="onClick:modeFreehandLine"
																				class="drawButton"
																				title="Freehand Polyline">
																		</button>
																	</li>

																	<li>
																		<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'adw-icon-polygon',showLabel:false"
																				data-dojo-attach-event="onClick:modePolygon"
																				class="drawButton"
																				title="Polygon">
																		</button>
																	</li>

																	<li>
																		<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'adw-icon-freehand-polygon',showLabel:false"
																				data-dojo-attach-event="onClick:modeFreehandPolygon"
																				class="drawButton"
																				title="Freehand Polygon">
																		</button>
																	</li>
																</ul>
															</li>
														</ul>
													</div>
















                                                      <br><br>

                                                      <!-- Buffer Menu displays when results are present -->
                                                      <div id="pMapBuffr" class="pContRes" data-dojo-attach-point="pMapBuffr" data-dojo-type="dijit/layout/ContentPane" style="display:none;font-size:12px">

                                                          <input type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:preBuffer"  label="Select By Buffer" iconClass="dijitNoIcon" style="float:left"></input>

                                                          <input id="tbBuffr" type="text"  data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="tbBuffr" style="width: 49px;float:center"></input>


 														  <select id="selBufUnit" data-dojo-attach-point="selBufUnit" style="font-size:9pt; width: 90px; padding:0px;margin;0px;float:right">
																<option value="ft" selected="true">Feet</option>
																<option value="mi">Miles</option>
																<option value="m">Meters</option>
																<option value="km">Kilometers</option>
														  </select>
                                                       </div>
                                                       <br>

                                                     <div style="width:42%;margin: 3px 3px 5px 50px; font-size: 9px;">
                                                      <input type="button"   style="float:right;" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:clearGraphics"  label="Clear Map Search" iconClass="dijitNoIcon" ></input>
                                                    </div>
                                                    <br>
                                                </div>
                                                <br><br>

                                                <div style="width:58%;margin: 3px 3px 5px 50px; font-size: 9px;">
                                                    <input type="button" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="Search" iconClass="dijitNoIcon" style="float:left;" data-dojo-attach-event="onClick:doSearch"></input>

                                                    <input type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:clearSearch"  label="Clear" iconClass="dijitNoIcon" style="float:right"></input>
                                                </div>


                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--end property results tab

              <!--
              <div id="pSavedTab" data-dojo-type="dijit/layout/ContentPane" title="Saved" style="display:none">
                             <div id="pSavedZmDv" style="float:center;padding:0px;margin;0px;">
                                      <input id="btnZoomAllSaved" data-dojo-attach-point="btnSavedZoomAll" type="button" style="z-index: 900;font-size:10px;margin:0px;padding:0px;height:20px;float:left;display:none" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="zoom to these records" iconClass="dijitNoIcon" data-dojo-attach-event="onClick:zoomAllListSaved"></input>

                                     <input id="btnSavedPrLbls" data-dojo-attach-point="btnSavedPrLbls" type="button" style="z-index: 900;font-size:10px;margin:0px;padding:0px;height:20px;float:right;display:none" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="print mailing labels" iconClass="dijitNoIcon" data-dojo-attach-event="onClick:printMailLblsSaved"></input>
                            </div>
                            <br>
                             <div class="ptabContent ptabContMain" style="padding:0px !important;margin:0px !important;">
                                <br>
                                    <div id="pSearchSaved" data-dojo-type="dijit/layout/ContentPane" style="padding:0px 0px 7px 0px !important;margin:0px !important;">
                                    </div>
                             <br>
                          </div>
             </div>
             -->

             <!-- end pSavedTab-->


           <div id="pLayersTab"   data-dojo-type="dijit/layout/ContentPane" title="Layers" style="overflow-y:auto;padding:0px !important;margin:0px !important;">
                <div id="pLayersTabCnt"   data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="pLayersTabCnt" class="ptabContent ptabContMain" style="overflow-y:auto;padding:0px !important;margin:0px !important;"></div>

           </div>
           <div id="pLegendTab"   data-dojo-type="dijit/layout/ContentPane" title="Legend" style="overflow-y:auto;padding:0px !important;margin:0px !important;">
                <div id="pLegendTabCnt"   data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="pLegendTabCnt" class="ptabContent ptabContMain" style="padding:0px !important;margin:0px !important;"></div>

           </div>




            </div>

        </div>

    </div>

    <div id="propSrchActnBar" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="propSrchActnBar"  class="dijitDialogPaneActionBar ptabActnBar">
        <div id="closeBtn" class="closeButton" data-dojo-attach-point="closebtnDijitDiv">
            <input id="propertyclosebtn" type="button" style="z-index: 900;font-size:9px;margin:0px;padding:0px;height:20px" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="Close" iconClass="dijitNoIcon" data-dojo-attach-event="onClick:close">
            </input>

       </div>
    </div>

</div>