<div class="propertyDijit">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="containerNode" class="propertyContainer">
        <div class="propertyNode">
            <div id="pSearchTabs" data-dojo-type="dijit/layout/TabContainer" class="propertyTabContainer">

                <div id="pSearchTab"  data-dojo-type="dijit/layout/ContentPane" title="Search">
                     <div class="ptabContBG">
                     </div>

                    <div class="ptabContent ptabContMain">
                      <div  class="ptabContent ptabContMain">

                       <div id="pSearchForm" style="position:absolute;top:1%;left:1%">
						   <!--put content here -->
						    <div id="pane1" data-dojo-type="dijit/layout/ContentPane"   >


									 <div data-dojo-type="dijit/layout/ContentPane" title="Pane" doLayout="false"   style="width:320px;height:500px">
									  <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="propertyFormDijit" style="font-size: 11px; min-width: 1em; min-height: 1em;">

									   <div style="padding: 0px; font-size: 9px; z-index: 900; width: 250px; height: 18px;">

										 <div style="float:left; padding:0px;margin;0px;">search type:
										</div>
									 <div style="padding: 0px; float: right; padding:0px;margin;0px;">
									   <select id="selSearchType" style="font-size:11pt; width: 120px; padding:0px;margin;0px">
										 <option value="property" selected="true">property</option>
										 <option value="salesdata">sales data</option>
										 <option value="saleslist">sales list</option>
										 <option value="sub">subdivision</option>
										 <option value="business">business</option>
										  <option value="map">map</option>
									   </select>
										</div>

									   </div>

									 <div style="margin: 33px 5px 2px 7px; font-size: 11px;">

									 <div id="psearchForm" data-dojo-type="dijit/layout/ContentPane" style="">

                                         <p>Parcel Number:</p>
                                         <input id="tbPIN" type="text" autocomplete="on"   data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="searchPINDijit" data-dojo-props="name:'searchPIN',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'"  style="width: 219px;"></input>
                                         <br><br>
										 <p>Owner:</p>
										  <input id="tbOwner" type="text" autocomplete="on"   data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="searchPINDijit" data-dojo-props="name:'searchPIN',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'"  style="width: 219px;"></input>
										  <br><br>
										  <p>Address or Street Name:</p><br>
                                         <input id="tbAddr" type="text" autocomplete="on"   data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="searchPINDijit" data-dojo-props="name:'searchPIN',trim:true,required:true,value:'',placeholder:'Enter the text you want to search for.',class:'searchText'"  style="width: 219px;"></input>
										  <br><br>

										 <br>
									 </div>



									  <div style="width:48%;margin: 3px 3px 5px 50px; font-size: 9px;">
										 <input type="button" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="Search" iconClass="dijitNoIcon" style="float:left;" data-dojo-attach-event="onClick:doSearch"></input>
										  <input type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:clearSearch" intermediateChanges="false" label="Clear" iconClass="dijitNoIcon" style="float:right"></input>
									   </div>

									</br>
									</br>
									</br>

									   </div>
									 </div>
									 </div>







                            </div>

                       </div>
                    </div>
                  </div>
                </div>

                <div id="pResultsTab" data-dojo-type="dijit/layout/ContentPane" title="Results">
				  <div class="ptabContBG"> </div>

                   <div class="ptabContent ptabContMain">
                      <div  class="ptabContent ptabContMain">
                       <br>
                       <div id="pSearchResults" style="position:absolute;top:5%;left:0px;text-align: justify;display: inline-block;margin:40px 10px 20px 10px">

						<!--put content here -->
						<p>property search results</p><br>

                       </div>
                    </div>
                  </div>
                </div>

                <div id="pSavedTab"  data-dojo-type="dijit/layout/ContentPane" title="Saved">
				  <div class="ptabContBG"> </div>

                   <div class="ptabContent ptabContMain">
                      <div  class="ptabContent ptabContMain">
                       <br>
                       <div id="pSearchSaved" style="padding:1px;margin:1px;font-size: 10px;font-weight: normal; ">
							 <p>Saved property cards</p><br>
                       </div>

                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
            <div class="dijitDialogPaneActionBar ptabActnBar" >
	            <div  class="closeButton" data-dojo-attach-point="closebtnDijitDiv" >
	                   <input id="propertyclosebtn"  type="button" style="z-index: 900;font-size:9px;margin:0px;padding:0px;height:20px" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="Close" iconClass="dijitNoIcon"    data-dojo-attach-event="onClick:close">
                       </input>
	            </div>
        </div>
</div>
