<div>
  <div>
    <input type="text" data-dojo-type="dijit.form.TextBox"
                          data-dojo-attach-point="wmsLayerTextBox"
                          data-dojo-props="trim:true,required:true,value:'',placeholder:'Enter WMS Url',class:'searchText'" />
    <input type="text" data-dojo-type="dijit.form.TextBox"
                          data-dojo-attach-point="numberOfLayerTextBox"
                          data-dojo-props="trim:true,required:true,value:'',placeholder:'Enter the layer id',class:'searchText'" />
    <button data-dojo-attach-point="addButton" class=""
               data-dojo-type="dijit/form/Button">Add!</button>
  </div>
</div>