.selectedIcon:before {
    font-family: FontAwesome;
    content: "\f046";
}

.emptyIcon:before {
    font-family: FontAwesome;
    content: "\f096";
}

.basemapsIcon:before {
    font-family: FontAwesome;
    content: "\f009";
}

basemapDD {
 font-size: 18px;

}

 
.basemapDD .dijitMenuItemLabel {
   font-size: 12px;
}
#bmDD .dijitMenuItemLabel {
   font-size: 12px;
}

.dijitMenuItemLabel {
   font-size: 12px;
}