<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="false">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
                   
        <serverUrl url="http://gisvm101:6080" matchAll="true"/>                
        <serverUrl url="http://204.49.20.75:6080" matchAll="true"/> 
        <serverUrl url="http://204.49.20.76:6080" matchAll="true"/> 
        <serverUrl url="http://sampleserver3.arcgisonline.com" matchAll="true"/> 
        <serverUrl url="http://services.arcgisonline.com" matchAll="true"/> 
        
        
        
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
