.helpDijit .listdbootstrapFix{
    padding: 0 0 0 25px;
}

.helpDijit .helpContainer {
	padding: 0px;
	font-size: 10px;
}
.floatingWidget .helpDijit .helpContainer {
	padding: 5px;
}
.helpDijit .helpNode {
    width: 98%;
    height: 375px;
}
.floatingWidget .helpDijit .helpNode {
    width: 550px;
    
}
.helpDijit .helpTabContainer {
	width: 100%;
	height: 100%;
	//position: absolute;
	//top:0px;
	//left:0px;
}
 
.discl_text {
 
   font-size: 11px;
   font-weight: normal;
     text-align: justify;
    text-justify: inter-word;
    margin: 0px 7px 0px 7px;
   

}

#discbtn {
   //transform: rotate(3deg);
   //color: rgba(0, 255, 0, 0) !important;
   //background-color: rgba(25, 0, 255, 0.5) !important;
   color: #FF0000;
   font-size: 12px;
   font-weight: bold;
   //text-shadow: 0.1em 0.1em 0.2em green;
   text-shadow: 0 0 0.2em green, 0 0 0.2em green,0 0 0.2em green;
   /* -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
*/
    //animation: blinker steps(15) 10s infinite;  
}
#discbtn2 {
   color: #FF0000;
   //font: 25px/6px "Comic Sans MS","Comic Sans","Chalkboard",cursive;
   font-size: 12px;
   font-weight: bold;
   text-shadow: 0 0 0.2em green, 0 0 0.2em green,0 0 0.2em green;
   //animation: blinker steps(3) 2s infinite;
 
}

@keyframes  blink  {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
 

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    //0% { opacity: 1.0; }
    //50% { opacity: 0.0; }
    //100% { opacity: 1.0; }
/*  0% { visibility: visible; }
  40% { visibility: hidden; }
  50% { visibility: visible; }
  100% { visibility: visible; }   
*/  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }  
  
}
.glow {
     //text-shadow: 0.1em 0.1em #333;
     text-shadow: 0.1em 0.1em 0.2em green;
     font-size: 12px;
     font-weight: bold;
}
    
.helpDijit .glow {
     //text-shadow: 0.1em 0.1em #333;
     text-shadow: 0.1em 0.1em 0.2em green;
     font-size: 12px;
     font-weight: bold;
} 



.helpDijit .btncls {
   color: rgba(0, 255, 0, 0) !important;
   background-color: rgba(25, 0, 255, 0.5) !important;
    //background-image: none !important;
    //border-style: none !important;
   // box-shadow: none !important;

} 
 .dijitButtonNode {
        background-color: green;
        border: 2px solid black;
} 
 
.helpDijit .progressIcon {
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
    background-size: 95% auto;
    height: 24px;
    //margin: 0px -10px;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-property: height width margin;
    width: 24px;
    display:none;
}
.helpDijit .progressButton {
    bottom: 0px;
    left: 6px;
    position: absolute;
    
}
.helpDijit .progressIcon:hover {
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
    height: 36px;
    //margin: -6px -16px;
    width: 36px;
    
}
.helpDijit .progressButton .dijitButtonNode {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: none !important;
    border-style: none !important;
    box-shadow: none !important;
    bottom: -10px;
    //left: 6px;
    position: absolute;
}
.helpDijit .closeButton {
    //bottom: -2px;
    left: 45%;
    position: absolute;
    font-size: 9px  !important;
}

.helpDijit .dijitInline .dijitButtonNode {
 font-size: 9px  !important;

}

.helpDijit .dijitArrowButtonInner {
    display: none;
}
.helpDijit .icon-caret-up:before, .dbootstrap .dijitUpArrowButton:before, .dbootstrap .dgrid-sort-up .dgrid-sort-arrow:before  {
    display: none;
    content:"";
}



.helpDijit .helpError {
    color: #FF0000;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 15px;
}
.helpDijit .dijitTitlePane .dijitTitlePaneContentInner {
    font-size: 12px;
    margin: 5px 15px;
    padding: 0;
}
.helpDijit .dijitTitlePane .dijitTitlePaneTitle {
    font-size: 15px;
    font-weight: bold;
}
.helpDijit .dijitDialogPaneActionBar {
    padding: 5px;
    text-align: center;
}
.helpDijit .dijitTitlePane .dijitTitlePaneContentInner UL {
    margin-left: -10px;
}
.helpDijit .helpIntro {
    margin: 0 10px 10px;
    font-size: 14px;
}









.showAtStartup {
    bottom: 10px;
    position: absolute;
    right: 15px;
    font-size: 9px;
}



.htabContBG {
  background: url(http://gisvm109/viewer_dev/images/okaloosa.jpg);
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left:22%;
  background-repeat: no-repeat;
  background-size: 55% auto;
}

.htabContMain {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left:0%;

}
.htabActnBar {
 
  height: 35px;
  //padding: 0px 0px 0px 0px;
 padding: 0px !important;

}
#help_parent_underlay {
     
}

 

.dbootstrap .dijitDialogUnderlay {
     //background-color: rgb(0, 0, 0);
     background-color: transparent;
     opacity: 0.0 !important;
}
.dijitDialogUnderlay {
     //background: none repeat scroll 0% 0% rgb(238, 238, 238);
     //opacity: 1.0  !important;
}




.progressDialog h2 {
    color: #000000;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.5;
    position: absolute;
    right: 7px;
    top: -25px;
}
.progressTitle {
    text-align: center;
}
 
.progressTable {
    border-collapse: collapse;
}
.progressTable td {
    background-color: #E5E5E5;
    border: 1px solid #000000;
    padding: 0 5px;
}
.progressDialog div {
    margin: 0px;
}
.progressDialog div + div {
    padding: 5px 0 30px;
}
.showMetricsAtStartup {
    bottom: 15px;
    left: 20px;
    position: absolute;
}
.sendButton {
    bottom: 9px;
    position: absolute;
    right: 20px;
}













.htabContent {
    text-align: center ;
    font-size: 11px;
    //margin: 8px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 0px;
   //background-color: #CACACA;
    //background-image: url("../images/clock.png");
    //background-repeat: no-repeat;
    //background-size: 95% auto;
    //height: 100%;
    //width: 100%;
   
    transition-duration: 4.9s;
    transition-timing-function: linear;
    transition-property: height width margin;
    line-height: 14px;

}

.htabContent hr {
  
    margin: 0px !important;
    padding: 0px !important;
 

}
/*
.htabContent img {
  
    margin: 10px 15px 20px 140px !important;
    //padding: 0px !important;
 

}*/