.helpDijit .listdbootstrapFix{
    padding: 0 0 0 25px;
}

.helpDijit .helpContainer {
	padding: 0px;
	font-size: 10px;
}
.floatingWidget .helpDijit .helpContainer {
	padding: 5px;
}
.helpDijit .helpNode {
    width: 98%;
    height: 375px;
}
.floatingWidget .helpDijit .helpNode {
    width: 550px;
    
}
.helpDijit .helpTabContainer {
	width: 100%;
	height: 100%;
	//position: absolute;
	//top:0px;
	//left:0px;
}
 

 
.helpDijit .progressIcon {
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
    background-size: 95% auto;
    height: 24px;
    //margin: 0px -10px;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-property: height width margin;
    width: 24px;
}
.helpDijit .progressButton {
    bottom: 0px;
    left: 6px;
    position: absolute;
}
.helpDijit .progressIcon:hover {
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
    height: 36px;
    //margin: -6px -16px;
    width: 36px;
    
}
.helpDijit .progressButton .dijitButtonNode {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: none !important;
    border-style: none !important;
    box-shadow: none !important;
    bottom: -10px;
    //left: 6px;
    position: absolute;
}
.helpDijit .closeButton {
    //bottom: -2px;
    left: 45%;
    position: absolute;
    font-size: 9px  !important;
}

.helpDijit .dijitInline .dijitButtonNode {
 font-size: 9px  !important;

}

.helpDijit .dijitArrowButtonInner {
    display: none;
}
.helpDijit .icon-caret-up:before, .dbootstrap .dijitUpArrowButton:before, .dbootstrap .dgrid-sort-up .dgrid-sort-arrow:before  {
    display: none;
    content:"";
}



.helpDijit .helpError {
    color: #FF0000;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 15px;
}
.helpDijit .dijitTitlePane .dijitTitlePaneContentInner {
    font-size: 12px;
    margin: 5px 15px;
    padding: 0;
}
.helpDijit .dijitTitlePane .dijitTitlePaneTitle {
    font-size: 15px;
    font-weight: bold;
}
.helpDijit .dijitDialogPaneActionBar {
    padding: 5px;
    text-align: center;
}
.helpDijit .dijitTitlePane .dijitTitlePaneContentInner UL {
    margin-left: -10px;
}
.helpDijit .helpIntro {
    margin: 0 10px 10px;
    font-size: 14px;
}









.showAtStartup {
    bottom: 10px;
    position: absolute;
    right: 15px;
    font-size: 9px;
}



.htabContBG {
  background: url(http://gisvm109/viewer_dev/images/okaloosa.jpg);
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left:22%;
  background-repeat: no-repeat;
  background-size: 55% auto;
}

.htabContMain {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left:0%;

}
.htabActnBar {
 
  height: 35px;
  //padding: 0px 0px 0px 0px;
 padding: 0px !important;

}
#help_parent_underlay {
     
}

 

.dbootstrap .dijitDialogUnderlay {
     //background-color: rgb(0, 0, 0);
     background-color: transparent;
     opacity: 0.0 !important;
}
.dijitDialogUnderlay {
     //background: none repeat scroll 0% 0% rgb(238, 238, 238);
     //opacity: 1.0  !important;
}




.progressDialog h2 {
    color: #000000;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.5;
    position: absolute;
    right: 7px;
    top: -25px;
}
.progressTitle {
    text-align: center;
}
 
.progressTable {
    border-collapse: collapse;
}
.progressTable td {
    background-color: #E5E5E5;
    border: 1px solid #000000;
    padding: 0 5px;
}
.progressDialog div {
    margin: 0px;
}
.progressDialog div + div {
    padding: 5px 0 30px;
}
.showMetricsAtStartup {
    bottom: 15px;
    left: 20px;
    position: absolute;
}
.sendButton {
    bottom: 9px;
    position: absolute;
    right: 20px;
}













.htabContent {
    text-align: center ;
    font-size: 11px;
    //margin: 8px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 0px;
   //background-color: #CACACA;
    //background-image: url("../images/clock.png");
    //background-repeat: no-repeat;
    //background-size: 95% auto;
    //height: 100%;
    //width: 100%;
   
    transition-duration: 4.9s;
    transition-timing-function: linear;
    transition-property: height width margin;
    line-height: 14px;

}

.htabContent hr {
  
    margin: 0px !important;
    padding: 0px !important;
 

}
/*
.htabContent img {
  
    margin: 10px 15px 20px 140px !important;
    //padding: 0px !important;
 

}*/