 <div>
<p style="font-size:16px">The data on this site is provided as a public service and no guarantees or certifications, expressed or implied, are provided regarding accuracy of information herein, its use, or its interpretation.</p><br>

<p style="font-size:16px">The information you are about to access was derived from data compiled by Okaloosa County Public Offices, including, but not limited to, Property Appraiser's and GIS Offices. Statistics are provided solely for the purpose of gathering geographically dependent information. Derived information can only be used for unofficial purposes.</p><br>

<p style="font-size:16px">Please direct all inquiries concerning mapping issues related to this site to the County GIS Division at (850) 651-7570. For all issues dealing with assessment information please contact the County Property Appraiser's office at (850) 651-7240. Please see the main HELP tab within the WebGIS site for additional information. </p><br>
</p>
 </div>