
                    <div>
                        <p style="font-size:16px"><b>Welcome to the Okaloosa County County Map Viewer Version 0.9</b></p>
                        <p>
                            <center><img src='images/oc_logo_shark.png'/> </center>
                            <br>
                            This map viewer application is based on the<br>
                            <a href='https://github.com/DavidSpriggs/ConfigurableViewerJSAPI' target='_blank'>
                            Configurable ESRI JS API Viewer</a> by David Spriggs.<br>
                            Many thanks to David.<br>
                            <br>
                            See the <b>About</b> tab for more information.
                        </p>
                    </div>
                    <div style="color: red">
                        <hr style="border-color: red"><hr style="border-color: red">
                        This application is a work in progress, but it does work on mobile devices.
                        You are seeing it even though it is new and lacks many of the features of our
                        desktop application.  Please be patient as we test and enhance it.
                        <hr style="border-color: red"><hr style="border-color: red">
                    </div>
                </div>
