<div class="gis_NavToolsDijit" >
    <div class="formContainer">

 <!--
 <i title="Zoom In" data-dojo-attach-event="onClick:zoomIn" class="fa fa-search-plus fa-2x"></i>
 <i title="Zoom Out" data-dojo-attach-event="onClick:zoomOut" class="fa fa-search-minus fa-2x"></i>
 <i title="Full Extent" data-dojo-attach-event="onClick:fullExtent" class="fa fa-arrows-alt fa-2x"></i>
 <i title="Previous Extent" data-dojo-attach-event="onClick:prevExtent" class="fa fa-arrow-left fa-2x"></i>
 <i title="Next Extent" data-dojo-attach-event="onClick:nextExtent" class="fa fa-arrow-right fa-2x"></i>
  <i title="Pan" data-dojo-attach-event="onClick:pan" class="fa fa-paw fa-2x"></i>
-->
 <!--<i title="Deactivate Navigation Tool" data-dojo-attach-event="onClick:deactivate" class="fa fa-ban fa-2x" style="color:red"></i>-->


	 <button  id="btn_zoomin"  data-dojo-attach-point="btn_zoomin" data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoominIcon',showLabel:false"
		data-dojo-attach-event="onClick:zoomIn">Zoom In</button>
	<button  id="btn_zoomout"  data-dojo-attach-point="btn_zoomout" data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomoutIcon',showLabel:false"
		data-dojo-attach-event="onClick:zoomOut">Zoom Out</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomfullextIcon',showLabel:false"
		data-dojo-attach-event="onClick:fullExtent">Full Extent</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomprevIcon',showLabel:false"
		data-dojo-attach-event="onClick:prevExtent">Prev Extent</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomnextIcon',showLabel:false"
		data-dojo-attach-event="onClick:nextExtent">Next Extent</button>
	<button  id="btn_pan"  data-dojo-attach-point="btn_pan" data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'panIcon',showLabel:false"
		data-dojo-attach-event="onClick:pan">Pan</button>

	<button id="btn_identify"  data-dojo-attach-point="btn_identify" data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'identifyIcon',showLabel:false"
		data-dojo-attach-event="onClick:identify"><b>Identify</b></button>


	<button id="btn_selpoint"  data-dojo-attach-point="btn_selpoint" data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'selIcon',showLabel:false"
		data-dojo-attach-event="onClick:selecttool"><b>Select Parcels by Point</b></button>

	<button  id="btn_selbox"  data-dojo-attach-point="btn_selbox" data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'selboxIcon',showLabel:false"
		data-dojo-attach-event="onClick:selectboxtool"><b>Select Parcels by Box</b></button>
<!--
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'betaIcon',showLabel:false"
		data-dojo-attach-event="onClick:selectbeta"><b>beta test function</b></button>
-->



	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'deactivateIcon',showLabel:false" data-dojo-attach-event="onClick:deactivate">Clear Selection</button>


	<!--<select id="selWTool" data-dojo-id="selWTool" name="selWTool" style="padding:0px 0px 0px 25px" data-dojo-attach-event="onChange:selectToolWdgt"    data-dojo-type="dijit/form/Select">-->

	<select id="selWTool" data-dojo-id="selWTool" name="selWTool" style="padding:0px 0px 0px 25px" data-dojo-attach-event="onChange:selectToolWdgt" >
		<option value="" >Select a Tool</option>
		<option value="identify" style="font-weight:bold" >Identify</option>
		<option value="print" style="font-weight:bold" >Generate Print</option>
		<option value="draw" style="font-weight:bold" >Draw</option>
		<option value="measure" style="font-weight:bold" >Measure</option>
		<!--<option type="separator"></option>-->
		<option value="bookmarks" style="font-weight:bold" >Bookmarks</option>
		<option value="goto" style="font-weight:bold" >Goto</option>
		<!--<option value="editor">Editor</option>-->
	</select>



	</div>
