<div class="gis_NavToolsDijit" >
    <div class="formContainer">

 <!--
 <i title="Zoom In" data-dojo-attach-event="onClick:zoomIn" class="fa fa-search-plus fa-2x"></i>
 <i title="Zoom Out" data-dojo-attach-event="onClick:zoomOut" class="fa fa-search-minus fa-2x"></i>
 <i title="Full Extent" data-dojo-attach-event="onClick:fullExtent" class="fa fa-arrows-alt fa-2x"></i>
 <i title="Previous Extent" data-dojo-attach-event="onClick:prevExtent" class="fa fa-arrow-left fa-2x"></i>
 <i title="Next Extent" data-dojo-attach-event="onClick:nextExtent" class="fa fa-arrow-right fa-2x"></i>
  <i title="Pan" data-dojo-attach-event="onClick:pan" class="fa fa-paw fa-2x"></i>
-->
 <!--<i title="Deactivate Navigation Tool" data-dojo-attach-event="onClick:deactivate" class="fa fa-ban fa-2x" style="color:red"></i>-->


	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoominIcon',showLabel:false"
		data-dojo-attach-event="onClick:zoomIn">Zoom In</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomoutIcon',showLabel:false"
		data-dojo-attach-event="onClick:zoomOut">Zoom Out</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomfullextIcon',showLabel:false"
		data-dojo-attach-event="onClick:fullExtent">Full Extent</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomprevIcon',showLabel:false"
		data-dojo-attach-event="onClick:prevExtent">Prev Extent</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomnextIcon',showLabel:false"
		data-dojo-attach-event="onClick:nextExtent">Next Extent</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'panIcon',showLabel:false"
		data-dojo-attach-event="onClick:pan">Pan</button>
	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'selIcon',showLabel:false"
		data-dojo-attach-event="onClick:selecttool"><b>Select Parcels by Point</b></button>

	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'selboxIcon',showLabel:false"
		data-dojo-attach-event="onClick:selectboxtool"><b>Select Parcels by Box</b></button>


	<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'deactivateIcon',showLabel:false"
		data-dojo-attach-event="onClick:deactivate">Deactivate</button

	</div>
